body {
    background-color: yellow;
}

p {
    text-align: left;
}

section {
    background-color: lightgreen;
    border: 2px solid red;
    border-radius: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    /*flex-wrap: nowrap;*/
    justify-content: flex-start;
    align-items: center;
}
/*Cigareciu uzduoties style*/
.cigareciu-p {
    font-size: 20pt;
}


/*bombos style*/
















/* Purse style*/
#purse {
    border: 3px solid red;
    width: 400px;
    height: 250px;
}

#purse div {
    height: 50px;
    width: 100px;
    border: 2px solid blueviolet;
    border-radius: 15px;
    text-align: center;
}

table, tr, th, td {
    border: 3px solid black;
    border-collapse: collapse;
    padding: 15vh;
}

